@model HMS.Areas.Dashboard.ViewModels.UsersViewModel
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col col-lg-12">
        <h2>Users</h2>
    </div>

</div>

<hr />
<div class="row mb-3">
    <div class="col col-lg-12">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" name="searchTerm" value="@Model.searchTerm" placeholder="Search...">


                <select class="form-control" name="RoleID">
                    <option value="0">
                        Select Role
                    </option>
                    @if (Model.Roles != null)
                    {
                        foreach (var item in Model.Roles)
                        {
                            <option value="@item.Id" @(item.Id == Model.RoleID ? "selected" : string.Empty)>
                                @item.Name
                            </option>
                        }
                    }
                </select>
                <button class="btn btn-outline-primary" type="submit">
                    <i class="fa fa-search"></i>
                    Search
                </button>
                <div class="input-group-append" id="button-addon4">
                    <a href="@Url.Action("Index","Users")" class="btn btn-outline-secondary" type="button"><i class="fas fa-redo-alt mr-2"></i>Reset</a>
                    <button data-href="@Url.Action("Action","Users")" class="action-btn btn btn-outline-success" type="button" data-toggle="modal" data-target="#actionModal"><i class="fas fa-plus-circle mr-2  "></i>Create</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col col-lg-12">
        @{ Html.RenderPartial("_listingUsers", Model);}
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="actionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">

    </div>
</div>
<script>
    $(".action-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            })

    });
</script>


