@model HMS.Areas.Dashboard.ViewModels.RolesViewModel
@if (Model != null && Model.Roles != null && Model.Roles.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Total Users</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Roles)
            {
            <tr>

                <td>@role.Name</td>
                <td><a href="@Url.Action("Index", "Users", new { RoleID = role.Id })">@role.Users.Count()</a></td>

                <td>
                    <button type="button" data-href="@Url.Action("Action", "Roles", new { ID = role.Id })" class="action-btn btn btn-primary" data-toggle="modal" data-target="#actionModal"><i class="fas fa-edit mr-1"></i>Edit</button>
                    <button type="button" data-href="@Url.Action("Delete", "Roles", new { ID = role.Id })" class="action-btn btn btn-danger" data-toggle="modal" data-target="#actionModal"><i class="fas fa-trash-alt mr-1"></i>Delete</button>

                </td>
            </tr>

            }


        </tbody>
    </table>
    if (Model.pager.EndPage > 1)
    {
        <nav>
            <ul class="pagination">
                @if (Model.pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","Roles",new { searchTerm = Model.searchTerm} )">First<i class="fas fa-angle-double-left ml-1"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","Roles",new { pageNo = Model.pager.CurrentPage - 1,searchTerm=Model.searchTerm})">Previous<i class="fas fa-angle-left ml-1"></i></a>
                    </li>
                }

                @for (var page = Model.pager.StartPage; page <= Model.pager.EndPage; page++)
                {
                    <li class="page-item @(page == Model.pager.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index","Roles",new { pageNo = page,searchTerm=Model.searchTerm})">@page</a>
                    </li>
                }

                @if (Model.pager.CurrentPage < Model.pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","Roles",new { pageNo = Model.pager.CurrentPage + 1,searchTerm=Model.searchTerm})">Next<i class="fas fa-angle-right ml-1"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","Roles",new { pageNo = Model.pager.TotalPages,searchTerm=Model.searchTerm})">Last<i class="fas fa-angle-double-right ml-1"></i></a>
                    </li>
                }
            </ul>
        </nav>
    }

}
else
{
    <div class="alert alert-warning" role="alert">
        Sorry! no records exists!!
    </div>
}

